
<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<small>- Posted <%= time_ago_in_words @article.created_at %> ago -</small>
<small>- <%= pluralize @article.comments.count, "comment" %> -</small>


<nav>
    <%= link_to "Edit", edit_article_path(@article) %>
    <%= link_to "Back", articles_path %>
    <%= link_to "Delete", @article, method: :delete, data: { confirm: "Are you sure?" } %>
</nav>

<% if @article.comments.count > 0 %>
    <hr />

    <h2>Comments</h2>
    <%= render @article.comments %>
    
<% end  %>

<hr />

<%# The form_with call here uses an array, which will build a nested route, such as /articles/1/comments. %>

<h2>Leave a comment</h2>
<%= render 'comments/form' %>